.modal {
    display: flex; /* Changed from none to flex */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #2d2d2d;
    padding: 40px;
    border: 1px solid #888;
    width: 90%;
    max-width: 400px;
    border-radius: 12px;
    position: relative;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    text-align: center;
}

.login-modal-content h2 {
    color: #ffffff;
    border-bottom: 2px solid #fd7e14;
    padding-bottom: 10px;
}

.topfund-brand {
    color: #fd7e14;
    font-weight: 700;
}

.terminal-text {
    color: #9ca3af;
    font-weight: 300;
}

#loginForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#loginForm input {
    padding: 10px;
    border: 1px solid #555555;
    border-radius: 4px;
    background-color: #404040;
    color: #ecf0f1;
}

#loginForm button {
    background-color: #fd7e14;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    transition: background-color 0.3s ease;
}

#loginForm button:hover {
    background-color: #e86100;
}

.hidden {
    display: none;
}
